django
djangorestframework
django-rest-swagger
dj-database-url
gunicorn
postgres
psycopg2-binary
pytz
whitenoise
django-heroku
upstox
python-dateutil
django-cors-headers
channels
channels-redis
asgi_redis
asgiref
redis
rq
django-background-tasks
websocket-client==0.44
